.aBackColorLightBlue {
  background-color: rgb(49, 136, 207);
}
.aBackColorLightGray {
  background-color: rgb(73, 127, 129);
}
.aBackColorYellow {
  background-color: rgb(238, 223, 15);
}
.aBackColorCrimson {
  background-color: crimson;
}
.aBackColorLightGreen {
  background-color: rgb(58, 119, 58);
}
.aBackColorLightViolet {
  background-color: rgb(168, 83, 168);
}
.aBackColorLightPink {
  background-color: hotpink;
}
.aBackColorBrown {
  background-color: rgb(192, 143, 9);
}
